<html>
    <head>
        <title> Form </title> 
    </head>
{% extends "layout.html" %}
{% block page_contents %}
    <form method = 'POST' action=''>
        {{ form.hidden_tag() }}
        <div>
        <table style="width:50%">
            <tr>
                <td align=Right> {{ form.first_name.label }} </td>
                <td> {{ form.first_name }} </td>
            </tr>
            <tr>
                <td align="Right"> {{ form.age.label }} </td>
                <td> {{ form.age }} </td>
            </tr>
            <tr>
                <td align="Right"> {{ form.birthdate.label }} </td>
                <td> {{ form.birthdate }} </td>
            </tr>
        </table>
        </div>
        <div>
            {{ form.submit }}
        </div>
        <div>
            <br>
            {{ message }}
        </div>
    </form>
{% endblock page_contents %}
</html>