<html>
    <head>
        <title> Adding a food item </title> 
    </head>
{% extends "layout.html" %}
{% block page_contents %}
    <form method = 'POST' action=''>
        {{ form.hidden_tag() }}
        <div>
        <table style="width:50%">
            <tr>
                <td class=Right> {{ form.food_item.label }} </td>
                <td> {{ form.food_item }} </td>
            </tr>
            <tr>
                <td class="Right"> {{ form.portion_weight.label }} </td>
                <td> {{ form.portion_weight }} </td>
            </tr>
            <tr>
                <td class="Right"> {{ form.portion_calories.label }} </td>
                <td> {{ form.portion_calories }} </td>
            </tr>
            <tr>
                <td>
                {% if form.portion_weight.errors %}
                    {% for error in form.portion_weight.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}
                <td>
                <td class="Centre"> {{ form.submit }}</td>
                <td> {{form.update}} </td>
            </tr>
        </table>
            <br>
            {{ message }}
        </div>
        <div>
            <table style="width:50%" class="centre">
                <tr>
                    <th align="Centre"> ID </th>
                    <th align="Centre"> Name </th> 
                    <th align="Centre"> Portion (g) </th>
                    <th align="Centre"> Calories </th>
                </tr>
                {% for item in items %}
                <tr>
                    <td align="Centre"> {{ item.id }} </td>
                    <td align="Centre"> {{ item.food_name }} </td>
                    <td align="Centre"> {{ item.item_weight }}g</td>
                    <td align="Centre"> {{ item.item_calories }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </form>
{% endblock page_contents %}
</html>